.projeto {
    position: relative;
    overflow: hidden;
  }
  
  .projeto .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 21, 21, 0.9); 
    padding: 1rem;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
  }
  
  .projeto:hover .info {
    transform: translateY(0);
  }
  